@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{margin: 0;padding: 0;}

#mobile{
    display: none;
}

html{
    scroll-behavior: smooth;
}

html {
    background-color: black;
}

.NavMenu{
    width: 100% !important;
    position: fixed !important;
    height: 24px !important;
    z-index: 10;
}

.HomeExport{
    width: 100% !important;
    justify-content: center !important;
    display: inline-flex !important;
}

.Footer{
    width: 100% !important;
    padding: 16px 0 !important;
    top: 3950px !important;
}

.VishGameStudio2022{
    font-size: 12px !important;
}

.Content{
    width: 100% !important;
}

.BackgroundPage{
    width: 100% !important;
    height: 100% !important;
    background-repeat: repeat !important;
    background-image: url(../img/figma/Background.png) !important;

    background-color: black;
    border: black;
}

.HeroesBackground{
    left: auto !important;
    opacity: 0.3;
    top: 3568px !important;
}

.HeroesBanner{
    left: auto !important;
}

.VishLogo{
    width: 100% !important;
    left: 0px !important;
}

.DivJustKing{
    width: 100% !important;
}

.DivVish{
    width: 100% !important;
}

.DivContato{
    width: 100% !important;
    margin-top: 96px !important;
}

.DivPresskit{
    width: 100% !important;
}

.DivJobs{
    width: 100% !important;
}

.Jobstext{
    width: 1212px !important;
    text-align: justify !important;
}

.Group7{
    left: 90.7% !important;
}

.Group2{
    left: 92.7% !important;
}

.Group8{
    left: 6% !important;
}

.Group4{
    left: 12% !important;
}

.VishGameStudio{
    font-size: 32px !important;
    font-weight: 150 !important;
}

.FotosVish{
    gap: 32px !important;
}

.Group10{
    position: absolute !important;
}

.Rectangle5{
    position: absolute !important;
    height: 320px !important;
}

.Frame1{
    z-index: 1 !important;
}

.Frame2{
    z-index: 1 !important;
    margin-top: 64px !important;
}


.JustKingContent{
    width: 1360px !important;
}

.Frame36{
    padding: 32px;
    width: 640px !important;
    margin-left: 56px !important;
}

.BotEsContato{
    align-self: auto !important;
    width: 1386px;
}

.Subtract{
    transform-origin: center !important;
}

.Frame12{
    box-shadow: none !important;
}

.Frame11{
    box-shadow: none !important;
}

.Frame24{
    box-shadow: none !important;
}

.Formbutton{
    box-shadow: none !important;
}

.Frame27{
    height: 320px !important;
}

.Frame37{
    gap: normal !important;
}

.Frame10{
    padding: 0 !important;
}

.Discordicon{
    width: 114px !important;
    height: 114px !important;
}

.Frame3{
    background-image: url(../img/figma/enrique.png) !important;
    background-size: cover !important;
}

.Frame18{
    background-image: url(../img/figma/igor.png) !important;
    background-size: cover !important;
}

.Frame2{
    text-align: justify !important;
    width: 800px !important;
}

.Language{
    margin-top: -2px !important;
}

.NavButton{
    transition-duration: .25s !important;
    text-align: center;
    width: 84px !important;
}

.NavButton:hover{
    transition-delay: .25ms;
    width: 112px !important;
    color: #d10000 !important;
    cursor: pointer !important;
    font-weight: bold !important;
}

.RoundButton{
    transition-duration: .2s !important;
    scale: 1;
}

.RoundButton:hover{
    transition-delay: 10ms;
    cursor: pointer !important;
    scale: 1.2;

    overflow:hidden;
}

.RectButton{
    transition-duration: .2s !important;
    scale: 1;
}

.RectButton:hover{
    transition-delay: .01s;
    cursor: pointer !important;
    scale: 1.1;
}