@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{margin: 0;padding: 0;}

#mobile{
    display: none;
}

html{
    scroll-behavior: smooth;
}

html {
    background-color: black;
}

.NavMenu{
    width: 100% !important;
    position: fixed !important;
    height: min-content !important;
    z-index: 10;
}

.HomeExport{
    width: 100% !important;
    justify-content: center !important;
    display: inline-flex !important;
}

.Footer{
    width: 100% !important;
    position:absolute !important;
    bottom:0 !important;
}

.Footerart{
    width: 100% !important;
    flex-grow: 1 !important;
    position:absolute !important;
    bottom:0 !important;
}

.VishGameStudio2022{
    font-size: 12px !important;
}

.Content{
    width: 100% !important;
}

.Presskittext{
    text-align: justify;
}

.HomeExport{
    background-repeat: repeat !important;
    background-image: url(../img/figma/Background.png) !important;

    background-color: black !important;
}

.HeroesBackground{
    left: auto !important;
    opacity: 0.3;
    position: absolute !important;
    bottom: 50px !important;
}

.HeroesBanner{
    left: auto !important;
    width: 90% !important;
}

.VishLogo{
    width: 100% !important;
    left: 0px !important;
}

.LanguageIndicator{
    display: none;
    padding: 0 8px;
}

.Language:hover .LanguageIndicator{
    display: block;
}

.DivJustKing{
    width: 100% !important;
}

.DivVish{
    width: 100% !important;
}

.DivContato{
    width: 100% !important;
    margin-top: 96px !important;
}

.DivPresskit{
    width: 100% !important;
}

.DivJobs{
    width: 100% !important;
}

.Jobstext{
    width: 1212px !important;
    text-align: justify !important;
}

.Group7{
    left: 90.7% !important;
}

.Frame22{
    width: auto !important;
    height: auto !important;
}

.Group2{
    left: 92.7% !important;
}

.Group8{
    left: 6% !important;
    top: 760px !important;
}

.Group4{
    left: 12% !important;
}

.VishGameStudio{
    font-size: 32px !important;
    font-weight: 150 !important;
}

.FotosVish{
    gap: 32px !important;
}

.Group10{
    position: absolute !important;
}

.Rectangle5{
    position: absolute !important;
    height: 320px !important;
    width: 460px !important;
}

.Frame1{
    z-index: 1 !important;
    width: 540px !important;
    padding-right: 32px !important;
}

.Frame2{
    z-index: 1 !important;
    margin-top: 64px !important;
}


.JustKingContent{
    width: 1212px !important;
}

.Frame36{
    padding: 32px 0;
    width: 540px !important;
    margin-left: 56px !important;
}

.BotEsContato{
    align-self: auto !important;
    justify-content: center !important;
    width: 1212px;
}

.Subtract{
    transform-origin: center !important;
}

.Frame12{
    box-shadow: none !important;
}

.Frame11{
    box-shadow: none !important;
}

.Frame24{
    box-shadow: none !important;
}

.Formbutton{
    box-shadow: none !important;
}

.Frame27{
    height: 320px !important;
}

.Frame37{
    gap: 28px !important;
}

.Frame10{
    padding: 0 !important;
}

.Discordicon{
    width: 114px !important;
    height: 114px !important;
}

.Frame3{
    background-image: url(../img/figma/enrique.png) !important;
    background-size: cover !important;
}

.Frame18{
    background-image: url(../img/figma/igor.png) !important;
    background-size: cover !important;
}

.Frame2{
    text-align: justify !important;
    width: 800px !important;
}

.Language{
    display: ruby !important;
    align-content: center !important;
    height: 100% !important;
}

.NavButton{
    transition-duration: .25s !important;
    text-align: center;
    width: 84px !important;
    align-content: center !important;
}

.NavButton:hover{
    transition-delay: .25ms;
    width: 112px !important;
    color: #d10000 !important;
    cursor: pointer !important;
    font-weight: bold !important;
}

.RoundButton{
    transition-duration: .2s !important;
    scale: 1;
}

.RoundButton:hover{
    transition-delay: 10ms;
    cursor: pointer !important;
    scale: 1.2;

    overflow:hidden;
}

.RectButton{
    transition-duration: .2s !important;
    scale: 1;
}

.RectButton:hover{
    transition-delay: .01s;
    cursor: pointer !important;
    scale: 1.1;
}

.BotOPlayJustKing{
    width: 320px !important;
}

.Justkingiconlist{
    width: 520px !important;
}

.policy.subtitle{
    margin: 20px 0;
}

.policy.text{
    margin: 10px 0;
}

a{
    color: #d10000;
}

@media screen and (max-width: 1250px){
    
    body{
        min-width: 460px !important;
    }
    
    .Linebreak{
        width: 100% !important;
    }

    #GamesTab{
        height: 100% !important;
    }

    .Group8{
        top: 750px !important;
    }

    .VideoFrame{
        height: 339px !important;
        width: 591px !important;
        margin: 0px 160px !important;
        background: none !important;
    }

    .Frame37{
        display: block !important;
        width: 912px !important;
    }

    .Rectangle5{
        width: 591px !important;
    }

    .Frame1{
        width: 551px !important;
    }

    .BotOPlayJustKing{
        width: 240px !important;
        margin: 32px !important;
    }

    .ContentVish{
        width: 912px !important;
        height: 1280px !important;
        gap: 64px !important;
        display: contents !important;
    }

    .SobreTab{
        width: 912px !important;
        height: 1280px !important;
    }

    .BotEsContato{
        display: contents !important;
        justify-content: center !important;
        width: 80% !important;
    }

    #ContactTab{
        height: 1280px !important;
    }

    .Jobstext{
        width: 912px !important;
    }

    
    .HeroesBanner{
        left: auto !important;
        width: 90% !important;
    }

    .Group2{
        left: 82.7% !important;
    }
    .TTuloContato{
        width: 100% !important;
    }

    .TTuloPresskit{
        width: 100% !important;
    }

    .TTuloJobs{
        width: 100% !important;
    }

    .Content{
        width: 90% !important;
        left: 5% !important;
    }
    .Linebreak{
        width: 100% !important;
    }

    .Gamessectiontitle{
        font-size: 32px !important;
    }

    .Aboutsectiontitle{
        font-size: 32px !important;
    }

    .Contactsectiontitle{
        font-size: 32px !important;
    }

    .Presskitsectiontitle{
        font-size: 32px !important;
    }

    .Jobssectiontitle{
        font-size: 32px !important;
    }

    .HeroesBanner{
        height: auto !important;
        width: 80% !important;
    }

    .Content{
        gap: 64px !important;
        width: 90% !important;
        left: 5% !important;
    }

    .VideoFrame{
        width: 90% !important;
        height: auto !important;
        margin: 0 !important;
    }

    .Frame27{
        margin: 0 !important;
        width: 100% !important;
        height: min-content !important;
    }

    .Rectangle5{
        width: 80% !important;
        height: 380px !important;
        margin: 16px 5% !important;
    }

    .VideoThumbnail{
        width: 100% !important;
        height: auto !important;
        position: relative !important;
    }

    .JustKingTitle{
        width: 100% !important;
    }

    .Justkingqr{
        left: 85% !important;
        width: 13% !important;
        height: auto !important;
    }

    .TTuloVish{
        width: 100% !important;
    }

    .JustKingContent{
        width: 90% !important;
        display: grid !important;
    }

    .VishGameStudio{
        font-size: 28px !important;
    }

    .Frame1{
        padding: 0 !important;
        width: 100% !important;
        display: grid !important;
        height: 100% !important;
    }

    .Gamestexttitle{
        text-align: center;
    }

    .Justkingiconlist{
        display: grid !important;
        height: 128px !important;
        width: 100% !important;
        padding-top: 0 !important;
        justify-content: center !important;
        gap: 10% !important;
    }

    .Justkingicons{
        margin: 0 auto !important;
    }
    
    .TextoVish{
        width: 90% !important;
    }
    
    .Frame2{
        width: 100% !important;
        margin-top: 0px !important;
        height: 260px !important;
    }

    .DivContato{
        margin-top: 0px !important;
    }

    .BotODiscord{
        width: 90% !important;
        padding: 24px 0 !important;
    }

    .BotOSteam{
        width: 90% !important;
        padding: 24px 0 !important;
    }

    .BotOEMail{
        width: 90% !important;
        padding: 24px 0 !important;
    }

    .DivVish{
        gap: 32px !important;
        height: 1660px !important;
    }

    .Presskittextvish{
        text-align: center !important;
    }

    .Presskittextking{
        text-align: center !important;
    }

    .Frame36{
        width: 100% !important;
        margin-left: 0px !important;
        padding-bottom: 0 !important;
    }

    .Jobstext{
        width: 90% !important;
    }

    .FotosVish{
        gap: 32px !important;
        height: auto !important;
    }
    
    .Frame37{
        width: 100% !important;
        height: 100% !important;
    }

    .HeroesBackground{
        height: auto !important;
        width: 90% !important;
    }

    .VideoFrame{
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
    }

    .HomeExport{
        height: 4495px !important;
    }

    .Footerart{
        position:absolute !important;
        bottom:0 !important;
    }

    .Footer{
        position:absolute !important;
        bottom:0 !important;
    }

    .HeroesBackground{
        position:absolute !important;
        bottom: 50px !important;
    }

    .Frame3{
        width: 100px !important;
        height: 100px !important;
    }

    .Frame18{
        width: 100px !important;
        height: 100px !important;
    }

    .Group10{
        display: none;
    }

    .Group2{
        display: none;
    }

    .Group4{
        display: none;
    }

    .Group8{
        display: none;
    }

    .Group7{
        display: none;
    }
}


@media screen and (max-width: 735px){
    .NavButton{
        font-size: 12px !important;
    }

    .NavMenu{
        padding: 12px 0 !important;
        gap: 4px !important;
        height: min-content !important;
    }
}


@media screen and (max-width: 520px){
    .NavButton{
        font-size: 8px !important;
    }
}